[Unit]
Description=Kibana dev service
[Service]
User=ubuntu
Group=ubuntu
ExecStart=/usr/local/bin/node  /home/ubuntu/kibana/scripts/es snapshot -E path.data=/home/ubuntu/data

[Install]
WantedBy=multi-user.target
