[Unit]
Description=Kibana dev service
[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/kibana
ExecStart=/usr/local/bin/node /home/ubuntu/kibana/scripts/kibana --dev --no-base-path --host 0.0.0.0 -l /var/log/kibana.log

[Install]
WantedBy=multi-user.target
